.App {
  font-family: sans-serif;
  text-align: center;
  background-color: blue;
}
.navbar {
  background-color: skyblue;
}
* {
  margin: 0;
}
.nothing {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
form {
  padding: 30px 20px;
  border: solid silver;
  border-radius: 10px;
  background: linear-gradient(to left, #6faaff, #955dff);
  height: 520px;
  width: 400px;
  align-items: center;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  letter-spacing: 0.5px;
}
input {
  font-size: 25px;
  width: 100%;
  height: 50px;
  border-radius: solid silver;
  border-radius: 10px;
  margin-top: 30px;
  display: block;
}
input::placeholder {
  color: whitesmoke;
}
label {
  font-size: 30px;
  margin-top: 30px;
  display: block;
  text-align: left;
}
button {
  border: none;
  width: 50%;
  padding: 30px;
  margin-top: 50px;
  background: red;
  font-size: 2rem;
}
